In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import wbgapi as wb

In [8]:
research_in_rd = wb.data.DataFrame('SP.POP.SCIE.RD.P6', ['GBR', 'MLT', 'DEU', 'FRA', 'ROU', 'SVN', 'CZE'], time=range(2002,2018))
research_in_rd.to_csv(r'C:\Python\Ironhack\Project2 Database\research_in_rd.csv')
research_in_rd

,YR2002,YR2003,YR2004,YR2005,YR2006,YR2007,YR2008,YR2009,YR2010,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017
economy,,,,,,,,,,,,,,,,
CZE,1460.555908,1543.977905,1591.851562,2356.080566,2550.567139,2691.549316,2857.022217,2742.075195,2773.959961,2903.661621,3139.235352,3237.235840,3402.826172,3592.073730,3516.171631,3682.033447
DEU,3260.092041,3295.277100,3309.573486,3335.034912,3434.569336,3578.503418,3733.278076,3922.214600,4058.000244,4188.811523,4352.322754,4366.686523,4320.704102,4743.786133,4861.743164,5076.519043
FRA,3117.211914,3199.748291,3334.166992,3313.258545,3423.748535,3585.805908,3659.884766,3747.284668,3873.012939,3942.388916,4073.250488,4154.815430,4233.638184,4336.014160,4414.698730,4569.907715
GBR,3340.221680,3638.090332,3824.261963,4123.531738,4176.312500,4111.140625,4053.927246,4076.552002,4043.267090,3926.117920,3969.859131,4119.451172,4227.620117,4319.501465,4357.933105,4434.965820
MLT,682.186401,688.521423,1082.377319,1183.730225,1282.215332,1206.319946,1321.152344,1200.334351,1417.008423,1785.910889,1986.681152,1886.655151,1831.718994,1891.322754,2054.588867,2130.462891
ROU,928.281982,965.221313,985.128967,1071.937622,895.767517,894.163330,931.082581,933.763367,966.204163,790.688049,890.669983,922.674561,903.826294,876.228210,911.585205,891.321228
SVN,2335.871338,1899.025146,2024.899780,2633.114502,2924.946289,3106.179688,3475.936279,3661.119629,3769.813721,4277.314453,4317.183594,4220.327637,4147.061523,3814.215820,3914.261230,4479.400391

In [10]:
journal_articles = wb.data.DataFrame('IP.JRN.ARTC.SC',['GBR', 'MLT', 'DEU', 'FRA', 'ROU', 'SVN', 'CZE'], time=range(2002,2018))
journal_articles
journal_articles.to_csv(r'C:\Python\Ironhack\Project2 Database\journal_articles.csv')

In [12]:
rd_expenditure = wb.data.DataFrame('GB.XPD.RSDV.GD.ZS',['GBR', 'MLT', 'DEU', 'FRA', 'ROU', 'SVN', 'CZE'], time=range(2002,2018))
rd_expenditure
rd_expenditure.to_csv(r'C:\Python\Ironhack\Project2 Database\rd_expenditure.csv')